*.pyc
*~
*__pycache__
*/.~lock*
django_peo/settingslocal.py
tmp/*
!tmp/README.md
data/static/*
!data/static/README.md
!data/media/README.md
unical_template/node_modules/*
data/media/dipendenti_unical/*
data/media/domande_peo/*
data/media/domande-peo/*
data/media/allegati_clausola_partecipazione/*
!data/media/allegati_clausola_partecipazione/README.md
django_peo_cache/*.djcache
!django_peo_cache/README.md
!data/media/dipendenti_unical/README.md
!data/media/domande_peo/README.md
Documentazione/*
!Documentazione/source/
!Documentazione/make.bat
!Documentazione/Makefile
csa/*
saml2_sp/saml2_config/certificates/*
django_form_builder/*
django_peo/sp_pysaml2_shibidp.py
django_peo_cache/tmp/*
!django_peo_cache/tmp/README.md
