django>=3.0.7,<4.0
django-model-utils
ipython
mysqlclient>1.3.12
uwsgi

# ImportError: No module named '_cffi_backend'
cffi

# SAML2
# apt install xmlsec1
git+https://github.com/knaperek/djangosaml2.git

# Admin nested inlines
git+https://github.com/theatlantic/django-nested-admin.git

# advanced filters
#git+https://github.com/brack3t/django-braces.git
#git+https://github.com/peppelinux/django-advanced-filters.git

django_admin_multiple_choice_list_filter

#adminactions
git+https://github.com/peppelinux/django-adminactions.git

# rangefilter
git+https://github.com/silentsokolov/django-admin-rangefilter.git

# CINECA CSA Interface
git+https://github.com/UniversitaDellaCalabria/django-cineca-csa.git

# Oracle CSA support
cx_Oracle

# SQL Alchemy
sqlalchemy

# sostituito con files
#python-memcached

# countries utility
django_countries

# Python Magic
python-magic

# wkhtmltopdf
django-wkhtmltopdf
pdfkit
pypdf2

# SOAP Client protocollazione
zeep

# csa model 
#git+https://github.com/UniversitaDellaCalabria/django-cineca-csa.git

# auto serializer
git+https://github.com/peppelinux/django-auto-serializer.git

# pyWSArchiPRO
git+https://github.com/peppelinux/pyWSArchiPRO.git

# FileSignatureValidator
git+https://github.com/peppelinux/FileSignatureValidator.git

# django-form-builder
git+https://github.com/UniversitaDellaCalabria/django-form-builder.git@static_name_fields
