{% extends 'base.html' %}
{% load static %}
{% block content %}
{% with bando.clausolebando_set.all as clausole %}

<h2 class="ui header">{{ page_title }}</h2>
<h3 class="ui">{{ dipendente }}</h3>

{{ breadcrumbs.as_html|safe }}

<div class="ui section divider"></div>

<div class="ui grid stackable grid">
    <div class="twelve wide column" id="dashboard_first_panel">

        {% include "dettaglio_bando_peo_fields.html" %}
        {% include "clausole.html" %}
        <br>
        <p>
            <b>
                {% if bando.accettazione_clausole_text %}
                    {{ bando.accettazione_clausole_text }}
                {% else %}
                    Dichiaro di aver preso visione del Bando/Avviso "{{ bando.nome }}"
                    {% if clausole %}
                        e di sottoscrivere quanto sopra dichiarato.
                    {% endif %}
                {% endif %}
            </b>
        </p>
        {% include "clausole_check_form.html" %}
    </div>

    <div class="four wide column">
        {% include "right_main_menu.html" %}
    </div>
</div>

{% endwith %}
{% endblock %}
