{% extends 'riepilogo_domanda.html' %}
{% load static %}

{% block  modulo_head %}
<h2 class="ui header">Consegna Domanda di partecipazione {{ domanda_bando.bando }}</h2>
<div class="ui blue segment">
    <h3>Domanda trasmessa con successo</h3>
</div>
{% endblock modulo_head %}

{% block dati_istanza %}
<div class="ui segments">
    <div class="ui segment"><i>Istanza</i>: {{ domanda_bando.bando }}</div>
    {% if domanda_bando.numero_protocollo %}
        <div class="ui segment"><i>Numero Protocollo</i>: {{ domanda_bando.numero_protocollo }}</div>
        <div class="ui segment"><i>Data Protocollo</i>: {{ domanda_bando.data_protocollazione }}</div>
    {% else %}
        <div class="ui segment"><i>Numero</i>: {{ domanda_bando.pk }}</div>
    {% endif %}
    <div class="ui segment"><i>Creazione</i>: {{ domanda_bando.created|date:"j F Y H:i" }}</div>
    <div class="ui segment"><i>Ultima modifica</i>: {{ domanda_bando.modified|date:"j F Y H:i" }}</div>
</div>
{% endblock dati_istanza %}

{% block submit_button %}
<a href="{% url 'domande_peo:dashboard_domanda' domanda_bando.bando.slug %}">
    <div class="ui button">
        <i class="file icon"></i> Torna alla domanda
    </div>
</a>

<a href="{% url 'domande_peo:download_domanda_pdf' domanda_bando.bando.id domanda_bando.id %}" class="lockbutton_single">
    <div class="ui primary button">
        <i class="print icon"></i> Scarica in formato PDF
    </div>
</a>

{% endblock submit_button %}

{% block bottom_scripts %}
<script type="text/javascript" src="{% static 'js/lockbutton.js' %}"></script>
{% endblock bottom_scripts %}
