<!DOCTYPE html>
<head>
    <title></title>
    <meta name="description" content="Universitá della Calabria">
    <meta charset="UTF-8">
    
    <link rel="shortcut icon" href="https://www.unical.it/portale/images/favicon.ico">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    
    <link href="/static/semantic/semantic.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/semantic/semantic.min.js"></script>
    
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    
    <script type="text/javascript" src="/static/js/flip.minified.js"></script>

</head>

<body>

    <nav class=" sfondo_bordeaux">
    	<div class="container">
            <div class="row clearfix">
                <div class="col-xs-12">
                    <ul class="elementi_menu" style="margin-top:-5px;">
                        <li style="padding-top:5px;">
                                
                        </li>
                        <li>&nbsp;</li>
                        <li style="background-color:#ECEBE4; height:40px; padding: 0px 2px 0px 2px; width:0px; margin-top:0px;">
                            &nbsp;
                        </li>
                        <li>&nbsp;</li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCnd5Oen95TMO9aLfVRUAABQ">
                                <img src="/static/icons/youtube-icon.png" width="22" alt="Youtube">
                            </a>
                        </li>
                        <li>
                            <a href="https://it-it.facebook.com/pages/Universit%C3%A0-della-Calabria/166678814380">
                                <img src="/static/icons/facebook-icon.png" width="22" alt="Facebook">
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/UnicalPortale">
                                <img src="/static/icons/twitter-icon.png" width="22" alt="Twitter">
                            </a>
                        </li>
                        <li>&nbsp;</li>
                        <li style="background-color:#ECEBE4; height:40px; padding: 0px 2px 0px 2px; width:0px; margin-top:0px;">
                            &nbsp;
                        </li>
                        <li>&nbsp;</li>
                        <li style="padding-top:5px;">
                            <a href="http://www.unicaladmission.it/" title="english version" target="_blank">
                                english version
                                <img src="/static/icons/flag_en.png" alt="RSS Feed">
                            </a>
                        </li>
                        <li>&nbsp;</li>
                        <li style="background-color:#ECEBE4; height:40px; padding: 0px 2px 0px 2px; width:0px; margin-top:0px;">
                            &nbsp;
                        </li>
                        <li>
                            <form class="navbar-form navbar-left" style="margin-top:0px; margin-right:-15px; padding-top:0px;" action="https://www.unical.it/portale/search_results.cfm">
                                <div class="form-group">
                                    <input name="search" class="form-control" type="text" placeholder="cerca" style=" border-radius:0px;">
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row clearfix" style="padding-top:0px;">
            <div class="col-xs-12 column">
                <div class="contenitore_body" style="margin-top: -10px;">
                    <div style="padding: 33px;">
                        
                            <h2 class="ui error">E' stato riscontrato un problema di carattere tecnico.</h2>

                                <h4>Questo può essere causato da uno dei seguenti motivi:</h4>
                            
                                    <ul>
                                        <li>
                                            - Il Database risulta essere momentaneamente non disponibile;
                                        </li>
                                        <li>
                                            - Un aggiornamento del software potrebbe avere generato una eccezione interna;
                                        </li>
                                    </ul>
                                    
                                <p>Un messaggio contenente il tracciato di questo errore è stato inviato allo staff tecnico, appena possibile verrà risolto. Se desideri essere avvisato o ricevere ulteriori informazioni puoi contattare l'ufficio di supporto, altrimenti basterà attendere qualche ora prima che le attività sul sistema riprendano regolarmente.</p>
                                
                                <a href="/" class="ui blue button">go back to Login page »</a>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix" style="padding-top:0px;">

        </div>

    </div> <!-- fine container -->

</body>
</html>
