{% block top_notify %}

<div class="ui middle aligned divided list success message">
  <div class="item ">
    <div class="right floated content">
      <button class="positive ui button">
			  <i class="plus icon"></i>
			  Partecipa a PEO 2018
		</button>
    </div>
    <div class="content">
      <div class="header">
    Puoi partecipare al nuovo bando PEO.
  </div>
  <p>
	  Sulla base della tua ultima progressione/presa di servizio risulti idoneo a partecipare
  </p>
    </div>
  </div>
  </div>
  
  
  <div class="ui middle aligned divided list warning message">
  <div class="item ">
    <div class="content">
      <div class="header">
    Non puoi partecipare al nuovo bando PEO.
  </div>
  <p>
	  Non sono decorsi i termini minimi dalla tua ultima progressione. Alla prossima!
  </p>
    </div>
  </div>
  </div>

<div class="ui info message">
  <div class="header">
    Tutte le informazioni sul Bando PEO 2018!
  </div>
  <ul class="list">
    <li> Scadenza presentazione domande al </li>
    <li> <a href="#">Modalità di compilazione della domanda</a> </li>
    <li> <a href="#">Scarica il bando completo</a> </li>
  </ul>
</div>
{% endblock %}
