{% extends 'base.html' %}
{% load static %}

{% block js_head %}
<script type="text/javascript" src="{% static 'js/flip.minified.js' %}"></script>
{% endblock js_head %}

{% block content %}
<h2 class="ui header">Procedura Elettronica On-line</h2>
<p class="ui header" style="color: grey;">Carriere e Domande di Partecipazione</p>

<div class="ui section divider"></div>

{% include "top_notify.html" %}

<div class="ui grid stackable grid">
    <div class="twelve wide column" id="sticky_reference_panel">
        <div class="ui items">
            <div class="item">

                {% include 'carta_identita_dialog.html' %}

                <div class="content">
                    <a class="header">{{dipendente.nome}} {{dipendente.cognome}}</a>
                    <div class="meta">
<!--
                        <span>{{ dipendente.afferenza_organizzativa }}</span>
-->
                    </div>

                    {% include 'dati_personali.html' %}

                </div>
            </div>
        </div>
        <div class="ui horizontal divider"></div>

        {% for avviso in avvisi %}
        <div class="ui message">
          <div class="header">
            {{ avviso.titolo }}
          </div>
          <p>{{ avviso.corpo_del_testo }}</p>
        </div>
        {% endfor %}

        {% include "peo_dialogs.html" %}

        {% include "storico_domande.html" %}

        {% include "commissioni_utente.html" %}

        {% comment %}
        <div class="ui horizontal divider"></div>
        <h3 class="ui dividing header item">I tuoi dati in CINECA CSA</h3>
        <p>
            L'acronimo CSA (Carriere e Stipendi di Ateneo) indica l'applicazione informatica dedicata alla gestione
            giuridica ed economica del personale universitario. Possiamo navigare di seguito il modulo 'Carriere'
            di CSA relativo alla tua persona.
        </p>

        <div class="ui fluid styled accordion">
            {% with dipendente.get_carriera_csa as carriera_csa %}

            {% if not dipendente.get_carriera_csa %}
                <h5>Attualmente non sono disponibili i tuoi dati CINECA CSA.</h5>
                <p>
                    Se questo problema è momentaneo può derivare da una temporaneo problema di CSA.
                    Se invece risulta persistere contattare l'assistenza.
                </p>
            {% else %}
                <div class="accordion fluid">
                    <div class="title" style="color: #000000;">
                        <i class="dropdown icon"></i> Carriera
                    </div>
                    <div class="content" style="overflow-x: auto;">
                        <table class="ui celled striped table transition visible" style="border-radius: 0;">
                            <tbody>

                                {% for i in dipendente.get_carriera_csa %}
                                    {% if forloop.first %}
                                    <tr>
                                        {% for v in i.keys  %}
                                            <th>{{ v }}</th>
                                        {% endfor %}
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        {% for v in i.values  %}
                                            <td>{{ v|default_if_none:"--" }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="title" style="color: #000000;">
                        <i class="dropdown icon"></i> Incarichi
                    </div>
                    <div class="content" style="overflow-x: auto; overflow-x: auto;">
                        <table class="ui celled striped table transition visible" style="border-radius: 0;">
                            <tbody>
                                {% for i in dipendente.get_incarichi_csa %}
                                    {% if forloop.first %}
                                        <tr>
                                            {% for v in i.keys  %}
                                                <th>{{ v }}</th>
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        {% for v in i.values  %}
                                            <td>{{ v|default_if_none:"--"  }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            <!--
            endif assenza dati csa
            -->
            {% endif %}
            {% endwith %}
        </div>
        {% endcomment %}

        <div class="ui horizontal inverted divider"></div>
        <div class="ui horizontal inverted divider"></div>
    </div>
    <div class="four wide column">
        {% include "right_main_menu.html" %}
    </div>
</div>
{% endblock %}

{% block bottom_scripts %}
<script>
$('.ui.accordion').accordion();
</script>

<script type="text/javascript">
$(function () {
    $("#carta_identita").flip({
        trigger: 'manual'
    });
    $("#fronte").click(function () {
        $("#carta_identita").flip(true);
    });
    $("#retro").click(function () {
        $("#carta_identita").flip(false);
    });
});
</script>
{% endblock %}
