{% extends 'base.html' %}

{% load static %}

{% block content %}
<h2 class="ui header">{{ commissione }}
    <span style="font-size:0.5em;font-weight:normal">
        {% include 'stato_commissione.html' %}
    </span>
</h2>

{{ breadcrumbs.as_html|safe }}

<div class="ui section divider"></div>

<div class="ui grid stackable grid">
    <div class="twelve wide column" id="sticky_reference_panel">

        {% if commissione.note %}
        <div class="ui segment">
            <div class="item">
                <div class="content">
                    <a class="header" href="#">
                        <i class="file alternate outline left icon"></i>
                        Note
                    </a>
                    <div class="description">{{ commissione.note }}</div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="ui horizontal divider"></div>
        <h3 class="ui header item">
            Domande presentate ({{ domande|length }})
        </h3>
        {% if request.GET.poseco %}
            [Posizione: {{ request.GET.poseco }} -
             Livello: {{ request.GET.livello }}]
        {% endif %}
        <div class="ui grid basic segment">
            <div class="four wide column left aligned right floated" style="margin:0;padding-left:0;">
                <form method="post" id="lockbutton_form" action="#">
                    <input type="hidden" name="calcola_punteggio" value=1 />
                    <button class="ui positive button lockbutton_submit"
                            type="submit"
                            value=1>
                        <i class="calculator icon"></i>
                            Calcola tutti i punteggi
                    </button>
                    {% csrf_token %}
                </form>
            </div>
            <div class="nine wide column right aligned right floated" style="padding-right:0;">
                <form method="get" class="ui form info">
                    <div class="fields">
                        <div class="field">
                            <select onchange="this.form.submit();" name="poseco">
                                <option value="">- Posizione economica -</option>
                                {% for poseco in posizioni_economiche %}
                                    <option value="{{ poseco.nome }}"
                                        {% if request.session.poseco == poseco.nome %}
                                            selected
                                        {% endif %}>
                                        {{ poseco.nome }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="field">
                            <select onchange="this.form.submit();" name="livello">
                                <option value="">- Livello -</option>
                                {% for livello in livelli_posizione %}
                                    <option value="{{ livello.nome }}"
                                        {% if request.session.livello == livello.nome %}
                                            selected
                                        {% endif %}>
                                        {{ livello.nome }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="field">
                            <input type="text"
                                   name="search"
                                   id="id_search"
                                   size="50"
                                   value="{{ request.session.search }}"
                                   placeholder="cerca per numero di protocollo o matricola, cognome, nome dell'utente..."/>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% if domande %}
        <table class="ui celled selectable striped table">
            <thead>
                <tr>
                    <th>Matricola</th>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Data chiusura</th>
                    <th>Ultimo Protocollo</th>
<!--
                    <th>Prog. accettata</th>
-->
                    <th class="right aligned">Punteggio</th>
                    <th class="center aligned">
                        Stato
                    </th>
                    <th class="center aligned">
                        <i class="eye icon"
                           title="Ultima visualizzazione"></i>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for domanda in domande %}
                <tr>
                    <td>{{ domanda.dipendente.matricola }}</td>
                    <td>{{ domanda.dipendente.cognome }}</td>
                    <td>{{ domanda.dipendente.nome }}</td>
                    <td>
                        {% if domanda.data_chiusura %}
                            {{ domanda.data_chiusura }}
                        {% elif domanda.numero_protocollo %}
                            <div class="ui negative message">
                                <p>Domanda riaperta e mai conclusa.<br>
                                Fare riferimento al protocollo
                                {{ domanda.numero_protocollo }} del
                                {{ domanda.data_protocollazione|date:"d F Y" }}</p>
                            </div>
                        {% else %}
                            <div class="ui negative message">
                                <p>Domanda mai chiusa</p>
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if domanda.numero_protocollo %}
                            {{ domanda.numero_protocollo }} del
                            {{ domanda.data_protocollazione|date:"d F Y" }}
                        {% else %}
                            <div class="ui negative message">
                                <p>Domanda non protocollata</p>
                            </div>
                        {% endif %}
                    </td>
<!--
                    <td>
                        {% if domanda.progressione_accettata %}
                        <i class="check circle icon" style="color:green"></i>
                        {% else %}
                        <i class="ban icon" style="color:red"></i>
                        {% endif %}
                    </td>
-->
                    <td class="right aligned">
                        {{ domanda.punteggio_calcolato|default_if_none:"-" }}
                    </td>
                    <td class="center aligned">
                        {% if domanda.is_active %}
                            <i class="check circle icon"
                               style="color:green"
                               title="Abilitata"></i>
                        {% else %}
                            <i class="minus circle icon"
                               style="color:red"
                               title="Disabilitata"></i>
                        {% endif %}
                    </td>
                    <td class="center aligned">
                        {% if domanda.presa_visione_utente %}
                            <i class="check circle icon"
                               style="color:green"
                               title="{{ domanda.presa_visione_utente}} - {{ domanda.presa_visione_data }}"></i>
                        {% else %}
                            <i class="minus circle icon" style="color:red"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'gestione_peo:commissione_domanda_manage' commissione_id=commissione.pk domanda_id=domanda.pk %}">
                            <button class="ui right floated labeled icon mini button primary">
                                <i class="arrow right icon"></i>
                                Gestione
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="ui negative message">
                <p>Nessuna domanda presente o corrispondente ai filtri di ricerca</p>
            </div>

        {% endif %}
    </div>

    <div class="four wide column">
        {% include "right_main_menu.html" %}
    </div>
</div>
{% endblock content %}

{% block bottom_scripts %}
<script type="text/javascript" src="{% static 'js/lockbutton.js' %}"></script>
{% endblock bottom_scripts %}
